<h4>コメント欄&nbsp;&nbsp;<%= @tourism.comments.count %>件</h4>
<% tourism_comments.each do |tourism_comment| %>
  <%= attachment_image_tag tourism_comment.user, :profile_image, fallback:"no_image.jpg", size: '40x40' %>
  <%= tourism_comment.user.user_name %>
  <%= tourism_comment.comment %>
  <% if tourism_comment.user == current_user %>
      <%= link_to "Destroy", tourism_comment_path(tourism_comment.tourism.id, tourism_comment.id), method: :delete, remote:true %>
  <% end %>
<% end %>

<%= form_with(model:[tourism, tourism_comment], remote:true) do |f| %>
  <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "" %>
  <div class="text-right" >
    <%= f.submit "送信", class: "btn btn-sm btn-base-1 mt-20 pull-left" %></td>
  </div>
<% end %>

