
<% if @tourism.images.present? %>
  <% @tourism.images.each do |image| %>
    <%= attachment_image_tag image, :image, class: "default_image", size: '200x200' %>
  <% end %>
<% else %>
  画像はありません。
<% end %>
<%= @tourism.name %>


<%= @tourism.production %>

<%= @tourism.prefecture.name %>

<%= @tourism.genre.genre %>

<%= @tourism.budget %>

<h2>gmap</h2>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="Sydney, NSW">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 400px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 15
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtFclsFZ7hxrqznj119W8VtXE9aaLYdjs&callback=initMap" async defer></script>


<% if @tourism.user == current_user %>
  <%= link_to 'Edit', edit_tourism_path, class: "btn btn-success" %>
  <%= link_to "Destroy", tourism_path(@tourism.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
<% end %>

<div id="comments-<%= @tourism.id %>">
  <%= render partial: 'comments/comment', locals: { tourism: @tourism,tourism_comment: @tourism_comment ,tourism_comments: @tourism_comments } %>
</div>
