<div class = "top">
<div class = "container">
  <div class="row justify-content-around">

    <div class = "main-visual">
      <div class="search" style="width: 80%;">
        <%= form_with url:tourisms_path, method: :get, local: true do |f| %>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {prompt: "都道府県を選択"}) %>
        <%= f.collection_select(:genre_id, Genre.all, :id, :genre, {prompt: "目的を選択"}) %>
        <%= f.text_field :budget, autofocus: true, autocomplete: "budget", placeholder: "予算を入力(〜円以内)" %>
        <%= f.submit 'スポットを検索' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class = "row" style="margin: 30px;">
    <h3>❤️いいね！Ranking ~TOP3~</h3>
  </div>
  <div class = "row">
  <div class = "col-6">
    <h5>男性人気</h5>
      <% @male_favorited_tourisms.each.with_index(1) do |male,index| %>
        <table>
          <tbody>
            <td>
              <p>第<%= index %>位</p>
              <% male.images.each do |image| %>
                <div class = "maleimage"><%= attachment_image_tag image, :image, fallback:"noimage.png", class: "default_image", size: '120x120' %></div>
              <% end %>
            </td>
            <td>
              <p><strong><%= link_to male.name, tourism_path(male) %></strong></p>
              <div><%= male.production %></div>
            </td>
          </tbody>
        </table>
      <% end %>
    </div>

  <div class = "col-6">
    <h5>女性人気</h5>
    <% @female_favorited_tourisms.each.with_index(1) do |female,index| %>
      <table>
        <tbody>
          <td>
            <p>第<%= index %>位</p>
            <% female.images.each do |image| %>
              <div class = "femaleimage"><%= attachment_image_tag image, :image, fallback:"noimage.png", class: "default_image", size: '120x120'  %></div>
            <% end %>
          </td>
          <td>
            <p><strong><%= link_to female.name, tourism_path(female) %></strong></p>
            <div><%= female.production %></div>
          </td>
        </tbody>
      </table>
    <% end %>
  </div>
  </div>
</div>

</top>